language: node_js
node_js:
  - "4"
  - "6"
  - "7"
  - "8"
install:
  - npm install
script:
  - npm test
after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info